<router-outlet></router-outlet>
  <p *ngFor="let persona of listaContactos" class="text-lg mx-5 font-extrabold flex gap-2 items-center" [class.text-blue-700] = "persona.sexo == 'M'" [class.text-pink-700] = "persona.sexo == 'F'">
    <img *ngIf="persona.sexo == 'M'" class="w-5 h-5" src="assets/img/masculino.png" alt="Sexo masculino">
    <img *ngIf="persona.sexo == 'F'" class="w-5 h-5" src="assets/img/femenino.png" alt="Sexo femenino">
    {{persona.nombre}}
    <span class="text-black">{{persona.telefono}}</span>
  </p>
